@import 'node_modules/modern-normalize/modern-normalize.css';
@import 'fonts/stylesheet.css';
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.4; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

body {
    display: flex;
    height: 100vh;
    font-size: 17px;
}

.left-page {
    flex:1;
    background: url("imgs/halie-west-25xggax4bSA-unsplash.jpg") 0% / cover no-repeat;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    height: 150px;
    padding:20px;
    margin: 180px 0 0 0;
    background-color: rgb(0,0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-page h1 {
    font-family: Norse;
    margin: 0; 
    font-size: 80px;
}

.title img{
    height: 100%;    
}

.left-page footer {
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
}

.right-page {
    flex:2;
    height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
}

.sign-up-text {
    max-width: 500px;
    margin: 100px 30px 20px;
    font-weight: 600;
}

.sign-up-form {
    width: 100%;
    position: relative;
}

.sign-up-form .account-details {
    width: 100%;
    margin:0;
    background-color: white;
    padding: 60px 30px 25px;
    border:none;
    box-shadow: 0px 3px 5px lightgray;
}

.account-details legend {
    position: absolute;
    top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.input-wrapper {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 20px;
}

label {
    display: block;
    font-size: 9px;
    font-weight: 520;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 0px 3px 5px rgb(185, 185, 185);
}

input[type="password"]:user-invalid {
    outline: 1px solid red;
}

input:user-valid{
    outline: 1px solid rgb(0, 214, 0);
}


button {
    font-weight: 500;
    color: white;
    box-shadow: 0px 3px 5px lightgray;
    background-color: #596D48;
    border-style: none;
    border-radius: 6px;
    padding: 13px 50px;
    margin: 30px 30px 0;
    white-space: nowrap;
}

.login-prompt {
    margin-top: 30px;
    margin-left: 30px;
}

.login-prompt a {
    font-weight: 500;
    color: #596D48
}